/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Variables */
:root {
    --primary-color: #c6182a;
    --secondary-color: #161616;
    --background-color: #f3f3f3;
}



/* All */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background-color);
}



/* NavBar */
header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 85px;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 400px;
    width: 100%;
    color: var(--background-color);
    font-size: 20px;
}

#logo {
    cursor: pointer;
}

#logo:hover {
    color: var(--primary-color);
}

#hamburguer-menu {
    width: 35px;
    height: 35px;
    background: url(Images/menu.svg);
    cursor: pointer;
}

#hamburguer-menu:hover {
    background: url(Images/menu2.svg);
}



/* First Section */
#inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 85px);
    margin: 0 200px 0 200px;
}

#texto {
    max-width: 50%;
    width: 100%;
    margin: 0 100px 0 0;
}

#texto h3 {
    margin: 0 0 0 4px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
}

#texto h1 {
    margin: -15px 0 0 0;
    font-size: 60px;
    font-weight: 700;
    color: var(--secondary-color);
}

.first-letter {
    color: var(--primary-color);
}

#texto p {
    margin: 0 0 0 4px;
    font-size: 17px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: justify;
}

#texto button {
    margin: 40px 0 0 4px;
    padding: 20px 70px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}

#texto button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#img-principal {
    max-width: 600px;
}

#img-principal img {
    width: 100%;
}



/* Second Section */
#cadeiras {
    width: 100%;
    height: 300vh;
}

.menu-disciplinas {
    width: 95%;
    margin: auto;
}

.anos-title {
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    margin: 30px 0 30px 0;
}

.semestres-title {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
    text-decoration: underline;
}

.semestres {
    display: grid;
    margin: 0 0 200px 0;
    row-gap: 60px;
}

.primeiro-semestre {
    grid-template-columns: auto repeat(5, 20%) auto;
}

.segundo-semestre {
    grid-template-columns: auto repeat(5, 20%) auto;
}

.disciplinas-link {
    margin: 0 30px;
}

.disciplinas {
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    height: 400px;
    color: var(--secondary-color);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 1s;
}

.disciplinas:hover {
    transition: 1s;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.disciplina-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.disciplinas h3 {
    padding: 0 10px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.disciplinas hr {
    width: 50%;
    margin: auto;
    height: 3px;
    background-color: var(--primary-color);
}

.disciplina-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 297px;
    font-weight: 500;
    padding: 0 20px;
}

.disciplinas p {
    text-align: center;
}

.disciplinas span:first-of-type {
    font-weight: 700;
}

.disciplinas span:last-of-type {
    text-align: justify;
    margin-bottom: 20px;
}